/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$color-primary: mat.define-palette(mat.$gray-palette, 900);
$color-accent: mat.define-palette(mat.$teal-palette, 500);
$color-warn: mat.define-palette(mat.$red-palette, 400);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $color-primary,
    accent: $color-accent,
    warn: $color-warn,
  )
));

@include mat.all-component-themes($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
